{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <title> Day Book </title>
</head>
<body background="{% static '/images/back.jpg' %}">
    <header>
        <img alt="img" src="{% static '/images/shake.png' %}">
        <div id="div1">
            <h1> N S S </h1>
        </div>
        <div id="div2">
            <ul>
                <li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> Farmers </li>
                <li> Clients </li>
                <li> Accounts </li>
            </ul>
        </div>
<style>
table{
background-color: white;
width: 70vw;
margin-left: 15vw;
margin-top: 20px;
}
</style>
</header>
    <form id="form" method="POST" action="balance">
        {% csrf_token %}
            <input required list="clients" type="text" placeholder="Sales name" class="in_1" name="name" maxlength="30">
            <datalist id="clients">
                {% for clinet in names %}
                <option value="{{clinet}}"> </option>
                {% endfor %}
            </datalist>
        <div class="form_sub">
            <input required type="number" placeholder="Today" class="in_2" name = "bill" id="quantity">

            <input required type="number" placeholder="Tot Balance" class="in_2" name="tot" id="price">
        </div>
        <div class="form_sub">
            <input onchange="change_date()" required type="date" name="date" id="date">
                
            <input type="submit" value="Save" id="save">
        </div>
        
    </form>
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/upper.js' %}">
            function upper(ele) {
                    ele.value = ele.value.toUpperCase();
                }

            ele1 = document.getElementsByClassName('in_1')[0]
            ele2 = document.getElementsByClassName('in_1')[1]


            ele1.addEventListener('input', () => upper(ele1))
            ele2.addEventListener('input', () => upper(ele2))
    </script>
    <script>
        let date_stored = sessionStorage.getItem('date')
        if (date_stored) {
            document.getElementById('date').value = date_stored
        }
        function change_date() {
            let c_date = document.getElementById('date').value
            sessionStorage.setItem('date', c_date)
        }
    </script>
</body>
</html>
