{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Print All </title>
</head>
<body>
    <header>
        <img alt="img" src="{% static '/images/shake.png' %}">
        <div id="div1">
            <h1> N S S </h1>
        </div>
        <div id="div2">
            <ul>
                <li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> Farmers </li>
                <li> Clients </li>
                <li> Accounts </li>
            </ul>
        </div>
    </header>
<form id="filter_form" action="print_all" method="POST">
    {% csrf_token %}
    <input list="farmers" type="text" placeholder="Farmer Name" name="name" id="fname">
    <datalist id="farmers">
        {% for farmer in farmers %}
        <option value="{{farmer}}"> </option>
        {% endfor %}
    </datalist>
    <input type="date" id="date" name="date">
    <input type="submit" id="submit_btn">
</form>

    {% if flis %}
        <div class="search_head"> <div> Farmers </div> </div>
    {% endif %}

    <div id="farm_main">
        {% for flis in flis %}
        <div class="farm_sub"> {{flis}} </div>
        {% endfor %}
    </div>

    {% if slis %}
    <div class="search_head"> <div> Sales </div> </div> 
    {% endif %}
    <div id="farm_main">
        
        {% for flis in slis %}
        <div class="farm_sub"> {{flis}} </div>
        {% endfor %}
    </div>
    {% if dlis %}
    <div class="search_head"> <div> Dates </div> </div>
    {% endif %}
    <div id="farm_main">
        
        {% for flis in dlis %}
        <div class="farm_sub"> {{flis}} </div>
        {% endfor %}
    </div>

</body>
</html>