{% load static %}
<html>

<head>
    <title> Day Book  </title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</head>

<body>
    <header>
        <img alt="img" src="{% static '/images/shake.png' %}">
        <div id="div1">
            <h1> N S S </h1>
        </div>
        <div id="div2">
            <ul>
                <li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> <a> Farmers </a> </li>
                <li> <a> Clients </a> </li>
                <li> <a> Accounts </a> </li>
            </ul>
        </div>
<style>
input[type='checkbox']{
height: 30px;
width: 30px;
}
</style>
    </header>
    
    <form id="filter_form" action="daybook" method="POST">
        {% csrf_token %}
        <input list="farmers" type="text" placeholder="Farmer Name" name="name" id="fname">
        <datalist id="farmers">
            {% for farmer in farmers %}
            <option value="{{farmer}}"> </option>
            {% endfor %}
        </datalist>
        <input type="date" id="date" name="date">
        <input type="submit" id="submit_btn">
    </form>
    <div id="body">
        <br><br>
        <table cellspacing="0">
            <tr id="top">
                <td> ID </td>
                <td> Date </td>
                <td> Farmer </td>
                <td> Client </td>
                <td> Qnt </td>
                <td> Price </td>
            </tr>
            {% for data in data %}
            <tr class="row">
            <td> {{data.id}} </td>
            <td> {{data.date}} </td>
            <td> {{data.fname}} </td>
            <td> {{data.cname}} </td>
            <td> {{data.qnt}} </td>
            <td> {{data.price}} &nbsp; <input type='checkbox'> </td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
</body>

</html>
